.CollectionPage {
    display: flex;
    flex-direction: column;
}

.CollectionPageTitle {
    font-size: 38px;
    margin: 0 auto 30px;
}

.CollectionPageItems {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

.CollectionItem {
    margin-bottom: 30px;
}