body {
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 20px 40px;

    @media screen and (min-width: 800px){
        padding: 10px;
    }
}
  
a {
    text-decoration: none;
    color: #000;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
  
* {
    box-sizing: border-box;
}

  